.App {
  margin-top: 15px;
  font-family: 'Fira Sans Condensed', sans-serif;
}
.container {
  top: 50px;  
}
.navbar {
  display: flex;
  align-items: center;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.navbar .navHeader a{
  text-decoration: none;
  color: black;
  font-style: italic;
  padding: 10px;
  font-size: 25px;
  font-weight: old;
}
.navbar .navLinks a{
  text-decoration: none;
  color: #ef640e;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
}
.navbar .navLinks a:hover{
  color: black;
}
.navbar .navLinks a:active{
  color: black;
}
.navbar .navLinks2 {
  margin-left: auto;
}
.navbar .navLinks2 a{
  text-decoration: none;
  color: #ef640e;
  padding: 10px;
  font-weight: bold;
}
.navbar .navLinks2 a:hover{
  color: black;
}
.navbar .navLinks2 .connect{
 color: #ef640e;
 font-size: 16px;
 font-weight: bold;
 margin: 10px;
 border: 0.5px solid grey;
 border-radius: 25px;
 padding: 8px;
}
.navbar .navLinks2 .connect:hover{
  color: #ef640e;
  opacity: 0.7;
  transition: all 1s ease-out;
 }
 .createNft {
    left      : 50%;
    top       : 50%;
    position  : absolute;
    transform : translate(-50%, -50%);
 }
 
.inputname {
  left: 0;
  margin-top: 25px;
  color: black;
  max-width: 100%;
  height: 60px;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
}

.inputSpace{
  position: relative;
  margin-top: 5px;
  width: 100%;
  height: 40px;
  text-align: center;
}
.createNftBtn {
  padding: 10px;
  display: block;
  width: 100%;
  background-color: #ef640e;
  border-radius: 15px;
  border: 1px solid white;
  cursor: pointer;
  color: white;
  font-size: 16px;
  margin-top: 20%;
}
.homePg {
  background-color: black;
  /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */
  min-height: 92.8vh;
  height: 100%;
  width: 100%;
  background-size: cover;
  overflow: hidden; 
  letter-spacing: 2px; 
  font-weight:bolder;
}
.bigHeader {
  padding-top: 8%;
  font-size: 40px;
  color: white;
}
.biggerHeader {
  font-size: 65px;
  color: #c25512;
  font-style: oblique;
  margin: auto;
}
.nextHeader {
  color: white;
}
.homeLink {
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: #ef640e;
  border: 1px solid grey;
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  display:grid;
  width: 10%;
  margin-top: 2%;
}
.homeLink span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.homeLink span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.homeLink:hover span {
  padding-right: 25px;
}

.homeLink:hover span:after {
  opacity: 1;
  right: 0;
}
.imageHome {
  width: 150px;
  height: 80px;
  background-color: yellow;
  -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(90deg);
}
.homeContent {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.homeText {
  color: white;
  font-size: 20px;
  margin-top: 10%; 
  color: #f3a8d6;
  font-style: italic;
}

@media screen and (max-width: 499px) {
  .container {
    position: absolute;
    width: 600px;
    height: 405px;
    left: 50%;
    transform: translate(-50%);
    top: 150px;
    overflow-y: hidden;
  }
  .navLinks2 {
    position: absolute;
    width: 300px;
    height: 40px;
    right: 100px;
    top: 50px;
  }
  .homePg {
    background-color: rgb(210, 242, 247);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
  }
}
